
//colors
$white: #FFFFFF;
$black: #161616;
$dark-black: #000000;
$dark-grey: #313131;
$mid-grey: #454545;
$light-grey: #9B9B9B;
$border-light-grey: #E6E6E6;
$main-green: #50D691;
$green-hov: #2FB570;
$grey-hov: #D5d5d5;
$alert: #D6505F;
$alert-hov: #B73745;


//media queries
$tablet-width: 768px;
$small-width: 1024px;
$mid-width: 1280px;
$large-width: 1500px;

//button color
$btn-green: $main-green;
$btn-green-hov: #2FB570;


//margins

.mt-1 {
    margin-top: 15px;
}
.mt-2 {
    margin-top: 30px;
}